body{
    margin: 0;
    padding: 0;
    background-color: black;
    font-family: sans-serif;
    font-size: 20px;
}
.beatle{
    cursor: pointer;
}

.beatle .name{
    opacity: 0;
    text-shadow: 0 0 5px black;
}

.beatle:hover .name{
    opacity: 1;    
}

.container{
    width: 1220px;
    margin: 0 auto;
    min-height: 1220px;
    background-image: url(../img/LetItBe.jpg);
    background-repeat: no-repeat;
    color: white;
    padding-top: 160px;
}
section{
    background-color: rgb(255, 0, 0, 0);
    width: 200px;
}
#John{
    margin-left: 119px;
    margin-top: -5px;
    padding-top: 410px;
    padding-left: 263px;
    padding-right: 8px;
    padding-bottom: 10px;
}
#Paul{
    margin-left: 605px;
    margin-top: -470px;
    padding-top: 410px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 255px;
}
#Ringo{
    margin-left: 119px;
    margin-top: 13px;
    padding-top: 20px;
    padding-left: 263px;
    padding-bottom: 411px;
    padding-right: 8px;
}
#George{
    margin-left: 605px;
    margin-top: -469px;
    padding-top: 8px;
    padding-bottom: 411px;
    padding-right: 266px;
}
#George .name{
    margin-left: 10px;
}
#Ringo .name{
    margin-left: 116px;
    margin-top: -13px;
}
#John .name{
    margin-left: 116px;
}
h3, p{
    margin: 0;
    padding: 0;
}
.name{
    border-left: solid 9px red;
    padding-left: 5px;
}